@charset 'UTF-8';

@import './variables';
@import './base';

h1,
h3 {
    font-size: 1.9rem;
    color: $font-clr-title;
}

p,
label,
ul,
li {
    font-size: 1.3rem;
}

nav {
    background-color: $clr-navbar;
    color: $font-clr-navbar;
    height: 40px;
    padding: 0 5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.form {
    display: none;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-color: $clr-background;
    border-radius: 3px;
    position: relative;

    &__create {
        display: flex;
        border: 2px solid $clr-border;
    }

    &--show {
        display: flex;
        border: 2px solid #2d455e;
        border-top: none;
    }
}

.form__title {
    flex: 0 0 100%;
}

.form__box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1 0;
}

.contacts {
    padding: 2rem 0;
}

.contacts__list {
    margin-bottom: 2rem;
    border-radius: 3px;
}

.contacts__user {
    height: 70px;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
    border: 2px solid $clr-border;
    padding: 0 2rem;
}

.contacts__thumb {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.contacts__infos {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 2rem 4rem;
    padding: 2rem;
    padding-bottom: 1rem;
    position: relative;

    &--show {
        display: grid;
        border: 2px solid $clr-border;
        border-top: none;
    }

    b {
        color: $font-clr-title;
    }

    a {
        color: $font-clr-link;
    }
}

.contacts__details {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.link {
    color: inherit;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    padding: .7rem 0;
    cursor: pointer;

    &__close {
        position: absolute;
        top: 0;
        right: 15px;

        svg {
            transform: rotate(45deg);
            font-size: 2.3rem;
        }
    }

    svg {
        fill: $clr-icons;
    }
}

.btn {
    height: 30px;
    width: 75px;
    border: none;
    color: $font-clr-btn;
    border: 1px solid $clr-btn;
    background-color: transparent;
    align-self: flex-end;
    cursor: pointer;

    &:hover{
        color: $font-clr-btn-hover;
        background-color: $clr-hover-btn;
    }
}